# Test results

## Ispravni slucajevi

2+2=4
5-3=2
4 * 3=12
10/2=5 

## Provjera prioriteta operacija

2+3 * 4 = 14
10+5 * 4=33

## Problematicni slucajevi

10/0 - dijeljenje nulom nije definisano
abc - neispravan unos nije obradjen
5++5 - neispravan izraz nije obradjen

## Unit test
ulaz: 2+2
ocekivani rezultat: 4
